<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="Aldrich Zarco" content="Nombre del autor del sitio web" />
        <meta name="description" content="Apartado para informacion de cursos" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
        <title>Comentarios</title>
</head>

<body>
    <style>
        body {
            background-color: #00c3f8;
        }
        footer {
      position: fixed;
      height: 168px;
      bottom: 0;
      width: 100%;
    }
    </style>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--Navbar content-->
        <a class="nav--brand" href=""> System crow</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarText" aria-controls="navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collaspe navbar-collapse" id="navbarTex">
          <ul class="navbar-nav mr-auto">
            <li class="nav item active">
              <a href="#" class="nav-link"><span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/Usuario/Formulario_Usuario.html" class="nav-link"> Usuario</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/cursos/Formularios_Cursos.html"> Cursos </a>
              </li>
            <li class="nav-item">
              <a href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/cursos-usuario/formulario_cursos_usuarios.html" class="nav-link"> Cursos-Usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/contenido_visual/Formulario_Contenido_visual.html"> Contenido visual </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/contenido_informatico/Formulario_Contenido_informatico.html"> Contenido informatico </a>
            </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/comentarios/Formulario_Comentarios.html" role="button" aria-haspopup="true" aria-expanded="false">Comentarios</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="file:///C:/Users/Raimundo/APLICACIONES-WEB-ALDRICH/views/comentarios/tabla_comentarios.html">Lista de comentarios</a>
                  </div>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
     </nav>
    <h1 class="text-center">Informacion Comentarios</h1>
    <form action="ejemplo.php" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <p>id_comentario: <input type="number" class="form-control" name="id_video" size="40">
                    </p>
                </div>
                    <div class="col-md">
                        <p>id_usuario: <input type="number" class="form-control" name="id_usuario" size="40">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-md">
                    <p>id_curso: <input type="number" class="form-control" name="id_curso" size="40">
                    </p>
                </div>
                    <div class="col-md">
                        <p>Contenido: <input type="text" class="form-control" name="Contenido" size="40">
                        </p>
                    </div>
                </div>

            <p class="text-center" >
                <input type="submit"  class="btn btn-secondary" value="Subir">
                <input type="reset" class="btn btn-danger" value="Cancelar">
            </p>

    </form>
    <footer class="page-footer font-small white">

      <!-- Footer Links -->
      <div class="container-fluid bg-secondary text-center text-md-center">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md">
  
            <!-- Content -->
            <h5 class="text-uppercase">Contenido</h5>
            <p>Insercion del Footer en el formulario</p>
  
          </div>
  
          <div class="col-md">
  
            <!-- Links -->
            <h5 class="text-uppercase"><FONT FACE="candara"  COLOR="white">Enlaces</FONT></h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!"><FONT FACE="candara"  COLOR="white">Paginas de consulta</FONT></a>
              </li>
              <li>
                <a href="#!"><FONT FACE="candara"  COLOR="white">Colaboradores</FONT></a>
              </li>
              <li>
                <a href="#!"><FONT FACE="candara"  COLOR="white">Desarrolladores</FONT></a>
              </li>
              <li>
                <a href="#!"><FONT FACE="candara"  COLOR="white">Diseñadores</FONT></a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright bg-secondary text-center"> © 2020 Copyright:
        <a href="https://mdbootstrap.com/"><FONT FACE="candara"  COLOR="white">System Crow</FONT></a>
      </div>
      <!-- Copyright -->
  
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</html>